:root {
    /* palette */
    --orange: #f2870c;
    --black: #000000;
    --white: #ffffff;
}

/* debug */
.dbg {
    border: 1px solid black;
}

.height {
    height: 500px;
    background-color: lightgray;
}

/* JUMBOTRON */
.container-99 {
    height: 70vh;
    width: 99%;
    margin: 0 auto;

    text-align: center;
}


.jumbo-card {
    min-height: 200px;
}

.top-50,
.bottom-50 {
    height: 50%;
    border: 1px solid red;
}