<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META TAG -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TITLE -->
    <title>ROCK'N ROLL MUSIC WEBSITE</title>

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- VUE JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- MAIN JS -->
    <script type="text/javascript" src="./js/main.js" defer></script>
</head>

<body>
    <!-- SETTIING VUE JS -->
    <div id="app">

        <!-- HEADER -->

        <head>
            <div class="container-fluid">
                <div class="row">
                    <!-- navbar -->
                    <nav class="col-12 d-flex justify-content-between  py-4 bg-dark text-white">
                        <!-- logo -->
                        <img :src="navbar.logo" alt="logo">
                        <!-- tabella -->
                        <ul class="d-flex">
                            <!-- lista link -->
                            <li v-for="links in navbar.link" class="px-3 mx-2">
                                <a href="#">
                                    <!-- link in Vue -->
                                    {{links}}
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <!-- icona lente di ingrandimento -->
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </a>
                            </li>
                            <!-- chiusura lista -->
                        </ul>
                        <!-- chiusura tabella -->
                    </nav>
                    <!-- chiusura navbar -->
                </div>
            </div>
        </head>
        <!-- FINE HEADER -->

        <!-- MAIN -->
        <main>
            <!-- JUMBOTRON -->
            <section id="jumbotron">
                <div class="jumbotron-container container-fluid text-center">
                    <div class="jumbotron-text">
                        <!-- img in bg -->
                        <h3>INSTRUMENTAL ROCK</h3>
                        <h1>MUSIC IN THIS VIDEO</h1>
                        <div class="btn  btn-outline-warning text-white border-btn">READ MORE</div>
                    </div>
                </div>

                <!-- cards jumbotron-bottom -->
                <div class="jumbo-card container">
                    <div class="row justify-content-between">
                        <!-- card 1 -->
                        <div class="col-3 text-center py-5 px-4 bg-dark">
                            <!-- svg -->
                            <div class="debug-h">

                                <img src="./img/image (10).svg" fill="currentColor">
                            </div>
                            <h2>ORIGINAL IDEAS</h2>
                            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur quos iusto
                                cumque facilis provident ad.</h4>
                        </div>

                        <!-- card 2 -->
                        <div class="col-1"></div>
                        <div class="col text-center py-5 bg-dark">
                            <div class=" debug-h">
                                <!-- svg -->
                                <img src="./img/image (11).svg" alt="svg">
                            </div>
                            <h2>ORIGINAL IDEAS</h2>
                            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur quos iusto
                                cumque facilis provident ad.</h4>
                        </div>
                        <!-- card 3 -->
                        <div class="col-1"></div>
                        <div class="col text-center py-5 bg-dark">
                            <div class="debug-h">
                                <!-- svg -->
                                <img src="./img/image (12).svg" alt="svg">
                            </div>
                            <h2>ORIGINAL IDEAS</h2>
                            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur quos iusto
                                cumque facilis provident ad.</h4>
                        </div>
                    </div>
                </div>
            </section>

            <!-- SECTION STORYJAZZ -->
            <section id="story-jazz">
                <div class="story-jazz-container container-fluid text-center  py-5 dbg">
                    <!-- parte superiore -->
                    <div class="container">
                        <div class="row py-5 my-3">
                            <div class="col py-5">
                                <h3 class="my-3">WHO WE ARE</h3>
                                <h1>SENSE THE JAZZ</h1>
                                <h3 class="text-center text-white">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit.
                                    Blanditiis, perspiopmcoemfmeccm d 3dk 3d 3nikdd3kd dndi3nd3d3 dno3dn3idn3 d do3ndi3n
                                    dnodn3iond dkwnxk xkscnkwnv klqv qkojv oko vio3nfi32nf cwvj 3i2nc 2ecbi3onfcj
                                    jci32nc 32okc e2ki23n c2koecke2j i23n c2jc 2ecqok lqnàkj l cjowebvu j2bfcu2j cj2
                                    cju2 cjxj w e2ujebjqwnd w2j cejcbjo mv erk rkjob br3jkv w jew vcciatis
                                    distinctio
                                    eum officia molestias dolores et exercitationem, error quibusdam nisi cumque.
                                    Delectus,
                                    voluptatibus deserunt, debitis magni porro exercitationem nesciunt officia nam
                                    doloribus
                                    cumque nobis. Atque suscipit, officia tenetur perferendis eum voluptatem cum
                                    delenitis
                                    similique odio cupiditate aperiam. Dolor numquam rerum quibusdam ullam, quis,
                                    cupiditate
                                    id
                                    suscipit incidunt quos, est quam amet vel et quas reiciendis! Alias quae, voluptas
                                    possimus
                                    eveniet excepturi repellat nam dolorum ducimus ab quis exercitationem necessitatibus
                                    quas
                                    fugiat maxime? Iste officiis nam itaque dolorum labore officia cupiditate.</h3>
                                <!-- da cambiare -->
                                <button class="btn btn-outline-warning border-btn my-5 text-center text-white">
                                    READ MORE
                                </button>

                            </div>
                        </div>
                    </div>

                    <!-- parte inferiore  -->
                    <div class=" story-jazz-container-bottom">
                        <div class="row">
                            <div class="col">
                                <!-- img in bg -->
                                <!-- icon play-->
                                <div class="d-flex justify-content-center align-items-center my-5 py-5">
                                    <i class="fa-regular fa-circle-play subtitle p-20"></i>
                                    <h1>NEW MUSIC VIDEO</h1>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <!-- SECTION CARDS-MUSIC -->
            <section id="cards-music">
                <div class="cards-music container-fluid text-center">
                    <div class="row py-5">
                        <div class="col-12">
                            <h3>WHO</h3>
                            <h1>SENSE THE JAZZ</h1>
                            <div class="row row-cols-3">
                                <!-- inserire con Vue? -->
                                <!-- card 1 -->
                                <div class="col py-3">
                                    <!-- da inserire classi bootstrap -->
                                    <img src="./img/gallery1.jpg" alt="img" class="img-fluid">
                                    <h2>A ROLL BANG THE FLOOR</h2>
                                    <div class="icon-card-music">
                                        <span class="text-white">Stream On:</span>
                                        <!-- spotify -->
                                        <i class=" fa-brands fa-spotify"></i>
                                        <!-- youtube -->
                                        <i class="fa-brands fa-youtube"></i>
                                        <!-- music -->
                                        <i class="fa-solid fa-music"></i>
                                        <!-- icloud -->
                                        <i class="fa-solid fa-cloud"></i>
                                        <!-- music2 -->
                                        <i class="fa-solid fa-record-vinyl"></i>
                                    </div>
                                </div>
                                <!-- card 2 -->
                                <div class="col py-3">
                                    <!-- da inserire classi bootstrap -->
                                    <img src="./img/gallery2.jpg" alt="img">
                                    <h2>A ROLL BANG THE FLOOR</h2>
                                    <div class="icon-card-music">
                                        <span class="text-white">Stream On:</span>
                                        <!-- spotify -->
                                        <i class=" fa-brands fa-spotify"></i>
                                        <!-- youtube -->
                                        <i class="fa-brands fa-youtube"></i>
                                        <!-- music -->
                                        <i class="fa-solid fa-music"></i>
                                        <!-- icloud -->
                                        <i class="fa-solid fa-cloud"></i>
                                        <!-- music2 -->
                                        <i class="fa-solid fa-record-vinyl"></i>
                                    </div>
                                </div>
                                <div class="col py-3">
                                    <!-- da inserire classi bootstrap -->
                                    <img src="./img/gallery3.jpg" alt="img">
                                    <h2>A ROLL BANG THE FLOOR</h2>
                                    <div class="icon-card-music">
                                        <span class="text-white">Stream On:</span>
                                        <!-- spotify -->
                                        <i class=" fa-brands fa-spotify"></i>
                                        <!-- youtube -->
                                        <i class="fa-brands fa-youtube"></i>
                                        <!-- music -->
                                        <i class="fa-solid fa-music"></i>
                                        <!-- icloud -->
                                        <i class="fa-solid fa-cloud"></i>
                                        <!-- music2 -->
                                        <i class="fa-solid fa-record-vinyl"></i>
                                    </div>

                                </div>
                                <div class="col py-3">
                                    <!-- da inserire classi bootstrap -->
                                    <img src="./img/gallery4.jpg" alt="img">
                                    <h2>A ROLL BANG THE FLOOR</h2>
                                    <div class="icon-card-music">
                                        <span class="text-white">Stream On:</span>
                                        <!-- spotify -->
                                        <i class=" fa-brands fa-spotify"></i>
                                        <!-- youtube -->
                                        <i class="fa-brands fa-youtube"></i>
                                        <!-- music -->
                                        <i class="fa-solid fa-music"></i>
                                        <!-- icloud -->
                                        <i class="fa-solid fa-cloud"></i>
                                        <!-- music2 -->
                                        <i class="fa-solid fa-record-vinyl"></i>
                                    </div>
                                </div>
                                <div class="col py-3">
                                    <!-- da inserire classi bootstrap -->
                                    <img src="./img/gallery5.jpg" alt="img">
                                    <h2>A ROLL BANG THE FLOOR</h2>
                                    <div class="icon-card-music">
                                        <span class="text-white">Stream On:</span>
                                        <!-- spotify -->
                                        <i class=" fa-brands fa-spotify"></i>
                                        <!-- youtube -->
                                        <i class="fa-brands fa-youtube"></i>
                                        <!-- music -->
                                        <i class="fa-solid fa-music"></i>
                                        <!-- icloud -->
                                        <i class="fa-solid fa-cloud"></i>
                                        <!-- music2 -->
                                        <i class="fa-solid fa-record-vinyl"></i>
                                    </div>
                                </div>
                                <div class="col py-3">
                                    <!-- da inserire classi bootstrap -->
                                    <img src="./img/gallery6.jpg" alt="img">
                                    <h2>A ROLL BANG THE FLOOR</h2>
                                    <!-- farlo con vue? -->
                                    <div class="icon-card-music">
                                        <span class="text-white">Stream On:</span>
                                        <!-- spotify -->
                                        <i class=" fa-brands fa-spotify"></i>
                                        <!-- youtube -->
                                        <i class="fa-brands fa-youtube"></i>
                                        <!-- music -->
                                        <i class="fa-solid fa-music"></i>
                                        <!-- icloud -->
                                        <i class="fa-solid fa-cloud"></i>
                                        <!-- music2 -->
                                        <i class="fa-solid fa-record-vinyl"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- SECTION ALBUM -->
            <section id="album">
                <div class="album-container container-fluid">
                    <div class="row py-3">
                        <div class="col">
                            <!-- parte superiore -->
                            <div class="album-container-img">
                                <!-- img in bg -->
                                <div class="container">
                                    <div class="row">
                                        <div class="col py-5 my-5">
                                            <h3>INSTRUMENTAL ROCK</h3>
                                            <h1>ALBUM OUT NOW</h1>
                                            <button class=" btn btn-outline-warning border-bt text-center text-white">
                                                READ MORE
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- parte inferiore -->
                    <div class=" container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="album-container-bottom-img text-center py-5">
                                    <!-- img un bg -->
                                    <div class="row">
                                        <div class="col">
                                            <!-- INSERIRLI CON VUE? -->
                                            <!-- icon -->
                                            <i class="fa-solid fa-child-reaching"></i>
                                            <h2>163</h2>
                                            <h3>CONCERTS</h3>
                                        </div>
                                        <div class="col">
                                            <!-- icon -->
                                            <i class="fa-solid fa-rocket"></i>
                                            <h2>145</h2>
                                            <h3>HAPPY CLIENTS</h3>
                                        </div>
                                        <div class="col">
                                            <!-- icon -->
                                            <i class="fa-solid fa-trophy"></i>
                                            <h2>72</h2>
                                            <h3>MUSIC AWARDS</h3>
                                        </div>
                                        <div class="col">
                                            <!-- icon -->
                                            <i class="fa-solid fa-music"></i>
                                            <h2>182</h2>
                                            <h3>TOTAL SONGS</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <!-- SECTION CARDS-BLOG -->
            <section id="cards-blog">
                <div class="cards-blog-container container py-5">
                    <div class="row text-center">
                        <div class="col">
                            <h3>MUSIC BLOG</h3>
                            <h2>BEST MUSIC BLOG</h2>
                        </div>
                    </div>
                    <!-- card blog 1 -->
                    <div class="row row-cols-3">
                        <div class="col dbg">
                            <img src="./img/hip_hop_wired_to_dance_make.jpg" alt="img" class="img-fluid">
                            <h2>HIP HOP WIRED TO DANCE</h2>
                            <i class="fa-regular fa-calendar-days"></i>
                            <span class="text-white px-1">07 May 2022</span>
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus explicabo,
                                repellat
                                quibusdam nisi voluptate molestiae esse iusto neque, est at nulla soluta culpa velit
                                quae.</h3>
                        </div>
                        <!-- card blog 2 -->
                        <div class="col dbg">
                            <img src="./img/music_business-worldwide.jpg" alt="img" class="img-fluid">
                            <h2>MUSIC BUSINESS WORLDWIDE</h2>
                            <i class="fa-regular fa-calendar-days"></i>
                            <span class="text-white px-1">07 May 2022</span>
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus explicabo, repellat
                                quibusdam nisi voluptate molestiae esse iusto neque, est at nulla soluta culpa velit
                                quae.</h3>
                        </div>
                        <!-- card blog 3 -->
                        <div class="col dbg">
                            <img src="./img/giveaways_rock.jpg" alt="img" class="img-fluid">
                            <h2>GIVEAWAYS ROCK TO ALL</h2>
                            <i class="fa-regular fa-calendar-days"></i>
                            <span class="text-white px-1">07 May 2022</span>
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus explicabo, repellat
                                quibusdam nisi voluptate molestiae esse iusto neque, est at nulla soluta culpa velit
                                quae.</h3>
                        </div>
                    </div>
                </div>
                <!-- thumb img -->
                <div class="container-fluid py-5">
                    <div class="row row-cols-8">
                        <!-- SOSTITURLI IN VUE ? -->
                        <div class="col m-0 p-0">
                            <img src="./img/instagram_img4.jpg" alt="img" class="img-fluid">
                        </div>
                        <div class="col m-0 p-0">
                            <img src="./img/instagram_img5.jpg" alt="img" class="img-fluid">
                        </div>
                        <div class="col m-0 p-0">
                            <img src="./img/instagram_img6.jpg" alt="img" class="img-fluid">
                        </div>
                        <div class="col m-0 p-0">
                            <img src="./img/instagram_img7.jpg" alt="img" class="img-fluid">
                        </div>
                        <div class="col m-0 p-0">
                            <img src="./img/instagram_img8.jpg" alt="img" class="img-fluid">
                        </div>
                        <div class="col m-0 p-0">
                            <img src="./img/instagram_img9.jpg" alt="img" class="img-fluid">
                        </div>
                        <div class="col m-0 p-0">
                            <img src="./img/instagram_img10.jpg" alt="img" class="img-fluid">
                        </div>
                        <div class="col m-0 p-0">
                            <img src="./img/instagram_img1.jpg" alt="img" class="img-fluid">
                        </div>
                    </div>
                </div>

            </section>

        </main>
        <!-- FINE MAIN -->

        <!-- FOOTER -->
        <footer>
            <section id="info-foot">
                <div class="info-foot-container container py-5 text-white">
                    <div class="row row-cols-4">
                        <div class="col">
                            <h2>BOOKINGS</h2>
                            <ul>
                                <li v-for="info in foot.colFoot">
                                    <a href="#">
                                        {{info}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <h2>INFORMATION</h2>
                            <ul>
                                <li v-for="info in foot.colFoot">
                                    <a href="#">
                                        {{info}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <h2>SUPPORT</h2>
                            <ul>
                                <li v-for="info in foot.colFoot">
                                    <a href="#">
                                        {{info}}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col d-flex flex-column">
                            <h2>NEWSLETTER</h2>
                            <input type="email" name="email" id="email" placeholder="email">
                            <textarea name="" id="" cols="10" rows="5" placeholder="message"></textarea>
                            <button class="btn btn-outline-warning border-btn text-white">READ MORE</button>
                        </div>

                    </div>

                    <div class="row text-center py-4 my-5">
                        <div :bind="foot.copyright" class=" col">
                            {{foot.copyright}}
                        </div>
                    </div>
                </div>
            </section>
        </footer>


    </div>
    <!-- CHIUSURA SETTIN VUE JS -->

</body>

</html>