<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META TAG -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TITLE -->
    <title>ROCK'N ROLL MUSIC WEBSITE</title>

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- VUE JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- MAIN JS -->
    <script type="text/javascript" src="./js/main.js" defer></script>
</head>

<body>
    <!-- SETTIING VUE JS -->
    <div id="app">

        <!-- HEADER -->

        <head>
            <div class="container-fluid">
                <div class="row">
                    <!-- navbar -->
                    <nav class="col-12 d-flex justify-content-between dbg py-4 bg-dark text-white">
                        <!-- logo -->
                        <img :src="navbar.logo" alt="logo">
                        <!-- tabella -->
                        <ul class="d-flex">
                            <!-- lista link -->
                            <li v-for="links in navbar.link" class="px-3 mx-2">
                                <a href="#">
                                    <!-- link in Vue -->
                                    {{links}}
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <!-- icona lente di ingrandimento -->
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </a>
                            </li>
                            <!-- chiusura lista -->
                        </ul>
                        <!-- chiusura tabella -->
                    </nav>
                    <!-- chiusura navbar -->
                </div>
            </div>
        </head>
        <!-- FINE HEADER -->

        <!-- MAIN -->
        <main>
            <!-- JUMBOTRON -->
            <section id="jumbotron">
                <div class="jumbotron-container container-99 dbg">
                    <!-- img in bg -->
                    <img src="#" alt="sfondo">
                    <h2>text</h2>
                    <h3>txt more more text</h3>
                    <div class="btn">bottone</div>

                    <!-- cards jumbotron-bottom -->
                    <div class="jumbo-card d-flex justify-content-around text-center">
                        <!-- card 1 -->
                        <div class="jumbo-card">
                            <div class="top-50">
                                <!-- svg -->
                                <img src="#" alt="svg">
                            </div>
                            <!-- jumbo card bottom -->
                            <div class="bottom-50">
                                <h2>descr</h2>
                                <h3>more descript</h3>
                            </div>
                        </div>
                        <!-- card 2 -->
                        <div class="jumbo-card">
                            <div class="top-50">
                                <!-- svg -->
                                <img src="#" alt="svg">
                            </div>
                            <!-- jumbo card bottom -->
                            <div class="bottom-50">
                                <h2>descr</h2>
                                <h3>more descript</h3>
                            </div>
                        </div>
                        <!-- card 3 -->
                        <div class="jumbo-card">
                            <div class="top-50">
                                <!-- svg -->
                                <img src="#" alt="svg">
                            </div>
                            <!-- jumbo card bottom -->
                            <div class="bottom-50">
                                <h2>descr</h2>
                                <h3>more descript</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- SECTION STORYJAZZ -->
            <section id="story-jazz">
                <div class="story-jazz container-fluid text-center dbg">
                    <!-- parte superiore -->
                    <div class="top-50">
                        <h3>whooo</h3>
                        <h2>SENSE THE JAZZ</h2>
                        <h4>descrippppppppptttttt</h4>
                        <button class="btn">bottone</button>
                    </div>
                    <!-- parte inferiore  -->
                    <div class="bottom-50 container-99">
                        <img src="#" alt="sfondo">
                        <!-- icon play-->
                        <div>play</div>
                        <h2>NEW MUSIC VIDEO</h2>
                    </div>
                </div>

            </section>

            <!-- SECTION CARDS-MUSIC -->
            <section id="cards-music">
                <div class="cards-music container-fluid text-center">
                    <div class=" row">
                        <div class="col-12">
                            <h3>whoo</h3>
                            <h2>SENSE THE JAZZ</h2>
                            <div class="row row-cols-3">
                                <!-- card 1 -->
                                <div class="col">
                                    <!-- da inserire classi bootstrap -->
                                    <img src="#" alt="img">
                                    <h2>text</h2>
                                    <h3>textetxtetx</h3>
                                </div>
                                <!-- card 2 -->
                                <div class="col">
                                    <!-- da inserire classi bootstrap -->
                                    <img src="#" alt="img">
                                    <h2>text</h2>
                                    <h3>textetxtetx</h3>
                                </div>
                                <!-- card 3 -->
                                <div class="col">
                                    <!-- da inserire classi bootstrap -->
                                    <img src="#" alt="img">
                                    <h2>text</h2>
                                    <h3>textetxtetx</h3>
                                </div>
                                <!-- card 4 -->
                                <div class="col">
                                    <!-- da inserire classi bootstrap -->
                                    <img src="#" alt="img">
                                    <h2>text</h2>
                                    <h3>textetxtetx</h3>
                                </div>
                                <!-- card 5 -->
                                <div class="col">
                                    <!-- da inserire classi bootstrap -->
                                    <img src="#" alt="img">
                                    <h2>text</h2>
                                    <h3>textetxtetx</h3>
                                </div>
                                <!-- card 6 -->
                                <div class="col">
                                    <!-- da inserire classi bootstrap -->
                                    <img src="#" alt="img">
                                    <h2>text</h2>
                                    <h3>textetxtetx</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- SECTION ALBUM -->
            <section id="album">
                <div class="album-container container-99">
                    <!-- parte superiore -->
                    <div class="top-50">
                        <img src="#" alt="sfondo">
                        <h3>INSTRUMENTAL ROCK</h3>
                        <h2>ALBUM OUT NOW</h2>
                        <button class="btn">bottone</button>
                    </div>
                    <!-- parte inferiore -->
                    <div class="bottom-50">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <!-- icon -->
                                    <img src="#" alt="icon">

                                    <h2>100</h2>
                                    <h3>concerts</h3>
                                </div>
                                <div class="col">
                                    <!-- icon -->
                                    <img src="#" alt="icon">

                                    <h2>100</h2>
                                    <h3>concerts</h3>
                                </div>
                                <div class="col">
                                    <!-- icon -->
                                    <img src="#" alt="icon">

                                    <h2>100</h2>
                                    <h3>concerts</h3>
                                </div>
                                <div class="col">
                                    <!-- icon -->
                                    <img src="#" alt="icon">

                                    <h2>100</h2>
                                    <h3>concerts</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- SECTION CARDS-BLOG -->
            <section id="cards-blog">
                <div class="cards-blog-container container">
                    <div class="row text-center">
                        <div class="col">
                            <h3>MUSIC BLOG</h3>
                            <h2>BEST MUSIC BLOG</h2>
                        </div>
                    </div>
                    <!-- card blog 1 -->
                    <div class="row row-cols-3">
                        <div class=" col dbg">
                            <img src="#" alt="img">
                            <h2>lorem</h2>
                            <h4>dta novembre 2023</h4>
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus explicabo, repellat
                                quibusdam nisi voluptate molestiae esse iusto neque, est at nulla soluta culpa velit
                                quae.</h3>
                        </div>
                        <!-- card blog 2 -->
                        <div class="col dbg">
                            <img src="#" alt="img">
                            <h2>lorem</h2>
                            <h4>dta novembre 2023</h4>
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus explicabo, repellat
                                quibusdam nisi voluptate molestiae esse iusto neque, est at nulla soluta culpa velit
                                quae.</h3>
                        </div>
                        <!-- card blog 3 -->
                        <div class="col dbg">
                            <img src="#" alt="img">
                            <h2>lorem</h2>
                            <h4>dta novembre 2023</h4>
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus explicabo, repellat
                                quibusdam nisi voluptate molestiae esse iusto neque, est at nulla soluta culpa velit
                                quae.</h3>
                        </div>
                    </div>
                </div>
                <!-- thumb img -->
                <div class="container-fluid">
                    <div class="row row-cols-8">
                        <div class="col">
                            <img src="#" alt="img">
                        </div>
                        <div class="col">
                            <img src="#" alt="img">
                        </div>
                        <div class="col">
                            <img src="#" alt="img">
                        </div>
                        <div class="col">
                            <img src="#" alt="img">
                        </div>
                        <div class="col">
                            <img src="#" alt="img">
                        </div>
                        <div class="col">
                            <img src="#" alt="img">
                        </div>
                        <div class="col">
                            <img src="#" alt="img">
                        </div>
                        <div class="col">
                            <img src="#" alt="img">
                        </div>
                    </div>
                </div>

            </section>

        </main>
        <!-- FINE MAIN -->

        <!-- FOOTER -->
        <footer>
            <section id="info-foot">
                <div class="info-foot-container container">
                    <div class="row row-cols-4">
                        <div class="col">
                            <h2>BOOKINGS</h2>
                            <ul>
                                <li v-for="info in foot.colFoot">
                                    <a href="#">
                                        {{info}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <h2>INFORMATION</h2>
                            <ul>
                                <li v-for="info in foot.colFoot">
                                    <a href="#">
                                        {{info}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <h2>SUPPORT</h2>
                            <ul>
                                <li v-for="info in foot.colFoot">
                                    <a href="#">
                                        {{info}}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col d-flex flex-column">
                            <h2>NEWSLETTER</h2>
                            <input type="email" name="email" id="email" placeholder="email">
                            <textarea name="" id="" cols="10" rows="5" placeholder="message"></textarea>
                            <button class="btn">bottone</button>
                        </div>

                    </div>

                    <div class="row text-center py-4 my-5">
                        <div :bind="foot.copyright" class=" col">
                            {{foot.copyright}}
                        </div>
                    </div>
                </div>
            </section>
        </footer>


    </div>
    <!-- CHIUSURA SETTIN VUE JS -->

</body>

</html>